body{
   box-sizing: border-box;
   padding: 0;
   margin: 0;
   
}
h1,h2,h3,h4,h5,h6{
   font-family: Poppins;
}
.navbar-light{
   background: #fff;
   border: 0;
   font-family: Poppins;
}

.navbar-brand{
   font-size: 1.5rem;
   color: #000 !important;
   font-weight: bold;
}
#showcase{
/*   margin-top: 190px;*/
}

#showcase h1{
   font-size: 2.5rem;
   margin-bottom: 25px;
/*   margin-top: 50px;*/
   
}

#showcase img{
/*   margin-top: 50px;*/
   width:100%;
   
}

#showcase p{
   font-size: 1.2rem;
   margin-bottom: 30px;
}

#showcase button{
   margin-bottom: 30px;
}

#testimonial{
   background: #f1f1f1;
   text-align: center;
   padding: 30px 0px 30px 0px;
   margin-top: 80px;
   margin-bottom: 90px;
}
#testimonial p{
   font-size: 1rem;
   
}
#testimonial p:nth-child(2){
   font-size: 1.5rem;
   color: #666;
}

#info1 img{
   width: 100%;
}
#info1 .info-right{
   margin-top: 40px;
}

#info1 .info-right h2{
   margin-bottom: 20px;
}
#info2 {
   margin-top: 30px;
   margin-bottom: 30px;
}

#contact{
   background: url("../images/backpic.jpeg");
   background-size: cover;
   border-top:5px solid #333 ;
   border-bottom: 5px solid #333;
   font-weight: bold;
   font-size: 1.3em;
}
#contact button{
   margin-bottom: 20px;
}
footer{
   margin-top: 20px;
   padding: 20px;
}


/*Normalizer for section navigation */
section {
  padding: 80px 0 0 0;
}










